*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}
html {
    scroll-behavior: smooth;
}
/* button style */
.button {
    --color: white;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}
.button::before, .button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color:black;
    transition: 1s ease;
}
.button::before {
    top: -1em;
    left: -1em;
}
.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}
.button:hover::before, .button:hover::after {
    height: 410px;
    width: 410px;
}
.button:hover {
    color: black;
    color: white;
}
.button:active {
    filter: brightness(.8);
}
/* button style */
:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
.contanier {
    padding: 0px 15px;
    margin: 0px auto;
}
@media (min-width: 576px) { 
    .contanier {
        width: 550px;
    }
}
@media (min-width: 768px) {
    .contanier {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .contanier {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .contanier {
        width: 1170px;
    }
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family:Arial, Helvetica, sans-serif;
}
.header {
    background-color: rgba(0, 0, 0, 0.237);
    align-items: center;
    padding: 30px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}
.header .contanier {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .contanier ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .contanier ul li {
    padding: 10px;
    margin-right: 10px;
    font-size: 17px;
    color: white;
    transition: 0.6s;
    cursor: pointer;
}
.header .contanier ul li a {
    color: white;
    transition: 0.4s;
}
.header .contanier ul li:hover {
    transform: translateY(-5px);
}
.header .contanier ul li:hover a {
    color: #0075ff;
}
@media (min-width: 768px) {
    .header .contanier i.toggle-menu {
        display: none;
    }
}
@media (max-width: 768px) {
    .header .contanier .toggle-menu {
        display: flex;
        color: white;
        font-size: 30px;
    }
    .header .contanier .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.815);
    }
    .header .contanier .toggle-menu:hover + ul li {
        padding: 20px 0;
    }
    .header .contanier ul {
        display: none;
    }
}
.landing {
    background-image: url("../images/home-new-bg-free-img.webp");
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
    position: relative;
    max-width: 100%;
    min-height: 100vh;
}
.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 53, 110, 0.4)
}
.landing .text {
    position: absolute;
    top: 60%;
    z-index: 1;
    transform: translateY(-50%);
}
.landing .text div h1 {
    font-size: 70px;
    color: white;
    font-weight: 600;
    margin: 0;
}
.landing .text div p {
    color: white;
    font-size: x-large;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 40px;
}
.landing .text div .SHOP,
.landing .text div .FIND {
    margin-bottom: 10px;
    padding: 15px 25px;
    border: none;
    outline: none;
    font-weight: bold;
    background-color: white;
    transition: 0.4s;
    cursor: pointer;
}
.landing .text div .SHOP:hover {
    background-color: black;
    color: white;
}
.landing .text div .FIND {
    border: 1px solid white;
    background-color: transparent;
    color: white;
}
.landing .text div .FIND:hover {
    background-color: white;
    color: black;
}
@media (max-width: 767px) {
    .landing .text div .FIND,
    .landing .text div .SHOP {
        width: 100%;
        display: block;
    }
    .landing .text {
        text-align: center;
        left: 0;
        padding: 0 20px;
    }
}
.section {
    padding: 100px 80px;
}
@media (max-width: 767px) {
    .section{
        display: none;
    }
    .shop-portfolio {
        margin-top: 100px;
    }
}
.section > div::before {
    font-weight: bold;
    font-family: var(--fa-style-family,"Font Awesome 6 Free");
    content: "\f105";
    position: absolute;
    right: -50px;
    top: -1px;
    color: var(--grey-color);
    font-size: 30px;
}
.section > div::after {
    font-weight: bold;
    font-family: var(--fa-style-family,"Font Awesome 6 Free");
    content: "\f104";
    position: absolute;
    left: -50px;
    top: -1px;
    color: var(--grey-color);
    font-size: 30px;
}
.shop-portfolio {
    margin-bottom: 100px;
}
.shop-portfolio .contanier {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 20px;
}
.shop-portfolio .contanier .photo img {
    max-width: 100%;
}
.shop-portfolio .contanier .photo .overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 99%;
    background-color: rgba(15, 53, 110, 0.4);
}
@media (min-width: 767px) {
    .shop-portfolio .contanier .photo img {
        max-width: 460px;
        height: 500px;
}
}
@media (max-width: 767px) {
    .shop-portfolio .contanier .overlay {
        display: none;
    }
    .shop-portfolio .contanier .photo {
        margin-left: 75px;
    }
    .shop-portfolio .contanier .photo .text {
        max-width: 400px;
    }
}
@media (max-width: 450px) {
    .shop-portfolio .contanier .photo {
        margin-left: 0;
        margin-right: 10px;
    }
}
.shop-portfolio .contanier .photo {
    overflow: hidden;
    position: relative;
}
.shop-portfolio .contanier .photo .text {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 20px;
    bottom: 20px;
    left: 20px;
    color: white;
}
.shop-portfolio .contanier .photo .text .one,
.shop-portfolio .contanier .photo .text .two {
    display: block;
    padding-bottom: 15px;
}
.shop-portfolio .contanier .photo .text .one {
    font-weight: bold;
    font-size: 25px;
}
.shop-portfolio .contanier .photo .text .two {
    font-size: 16px;
    line-height: 1.8;
}
.shop-portfolio a {
    transition: 0.5s;
}
.shop-portfolio .contanier .photo .text a:hover {
    background-color: black;
    color: white;
    rotate: 2deg;
}
.Featured-Products {
    background-color: #f5f7f9;
    padding-bottom: 100px;
}
.Featured-Products .special-heading {
    padding: 20px;
}
.Featured-Products .contanier .special-heading::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 2px;
    background-color: var(--blue-color);
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
}
.Featured-Products .contanier .special-heading h1 {
    font-size: 40px;
    text-align: center;
}
.Featured-Products .contanier .shop-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    margin-top: 60px;
    gap: 20px;
}
.shop-boxes .box img {
    max-width: 100%;
    cursor: pointer;
}
.color {
    display: flex;
    padding: 5px 0;
}
.color div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
}
.color .blue {
    background-color: var(--blue-alt-color);
}
.color div:hover {
    outline: 1px solid black;
}
.color .green {
    background-color: var(--green-color);
    margin-left: 10px;
}
.color .red {
    background-color:  var(--red-color);
    margin-left: 10px;
}
.Special-Edition {
    background-image: url("../images/banner-03.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    background-attachment: fixed;
    position: relative;
    max-width: 100%;
    min-height: 90vh;
}
.Special-Edition .caption {
    color: white;
    position: absolute;
    z-index: 2;
    padding-left: 100px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.4s;
}
@media (max-width: 900px) {
    .Special-Edition .caption {
        text-align: center;
        left: 0;
        padding-right: 80px;
    }
    .Special-Edition  {
        background-color: var(--blue-color);
    }
}
.Special-Edition .caption button:hover {
    background-color: black;
    color: white;
}
.items-section {
    padding: 100px 0;
}
.items-section .items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.items-section .items .item {
    text-align: center;
}
@media (min-width:768px) {
    .items-section .items .item {
        flex-basis: 50%;
    }
}
@media (min-width:1199px) {
    .items-section .items .item {
        flex-basis: 25%;
    }
}
.items-section .items .item h4 {
    margin: 20px 0;
}
.items-section .items .item p {
    color: rgb(90, 89, 89);
    line-height: 1.8;
}
@media (max-width:768px) {
    .items-section .items .item p {
        max-width: 300px;
    }
}
.title {
    padding: 40px;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
}
.title a {
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    color: black;
    transition: 0.3s;
}
.title a:hover {
    color: #0d69d5;
}
footer {
    padding: 70px 0;
}
footer .contanier {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .contanier img {
    padding-bottom: 90px;
}
footer h2 {
    margin-bottom: 40px;
}
footer .contanier ul li {
    padding: 5px 0;
}
footer .contanier ul li a {
    color: gray;
    transition: 0.5s;
}
footer .contanier ul li a:hover {
    color: var(--blue-color);
}
footer .contanier ul .li-head {
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 600;
}
.contanier .Subscribe p {
    font-size: 20px;
    font-weight: 600;
}
footer input[type="email"] {
    background-color: #f5f7f9;
    border: 1px solid grey;
    outline: none;
    border-radius: 2px;
    padding: 15px 20px;
    margin-top: 60px;
    margin-bottom: 10px;
}
footer input[type="submit"] {
    padding: 15px 25px;
    border: none;
    outline: none;
    font-weight: 600;
    background-color: var(--blue-color);
    transition: 0.4s;
    cursor: pointer;
    color: white;
    display: block;
}
@media (max-width: 900px) {
    footer .contanier {
        flex-direction: column;
        text-align: center;
    }
}
.copyright {
    padding: 40px;
    border-top: 1px solid #333;
}
.copyright .icons i {
    margin-left: 10px;
    transition: 0.4s;
    font-size: 25px;
    cursor: pointer;
}
.copyright .icons i:hover {
    color: #0d69d5;
    transform: translateY(-5px);
}
/* login */
.form-container {
    width: 320px;
    border-radius: 0.75rem;
    background-color: rgba(17, 24, 39, 1);
    padding: 2rem;
    color: rgba(243, 244, 246, 1);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  
  .title {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }
  
  .form {
    margin-top: 1.5rem;
  }
  
  .input-group {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .input-group label {
    display: block;
    color: rgba(156, 163, 175, 1);
    margin-bottom: 4px;
  }
  
  .input-group input {
    width: 100%;
    border-radius: 0.375rem;
    border: 1px solid rgba(55, 65, 81, 1);
    outline: 0;
    background-color: rgba(17, 24, 39, 1);
    padding: 0.75rem 1rem;
    color: rgba(243, 244, 246, 1);
  }
  
  .input-group input:focus {
    border-color: rgba(167, 139, 250);
  }
  
  .forgot {
    display: flex;
    justify-content: flex-end;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175,1);
    margin: 8px 0 14px 0;
  }
  
  .forgot a,.signup a {
    color: rgba(243, 244, 246, 1);
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgot a:hover, .signup a:hover {
    text-decoration: underline rgba(167, 139, 250, 1);
  }
  
  .sign {
    display: block;
    width: 100%;
    background-color: rgba(167, 139, 250, 1);
    padding: 0.75rem;
    text-align: center;
    color: rgba(17, 24, 39, 1);
    border: none;
    border-radius: 0.375rem;
    font-weight: 600;
  }
  
  .social-message {
    display: flex;
    align-items: center;
    padding-top: 1rem;
  }
  
  .line {
    height: 1px;
    flex: 1 1 0%;
    background-color: rgba(55, 65, 81, 1);
  }
  
  .social-message .message {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: rgba(156, 163, 175, 1);
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons .icon {
    border-radius: 0.125rem;
    padding: 0.75rem;
    border: none;
    background-color: transparent;
    margin-left: 8px;
  }
  
  .social-icons .icon svg {
    height: 1.25rem;
    width: 1.25rem;
    fill: #fff;
  }
  
  .signup {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;
    color: rgba(156, 163, 175, 1);
  }
  


